*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
*.log
logs/
**logs/
celerybeat-schedule
dist
*.sqlite3
.venv
venv
api_venv
*.rb
celerybeat-schedule.db
celerybeat.pid
settings_local.py
